/* RESET*/
*:root {
  --eerie-black: rgb(13, 13, 13);
  --black: rgb(18, 18, 18);
  --onyx: rgb(37, 37, 37);
  --davys-gray: rgb(84, 84, 84);
  --spanish-gray: rgb(120, 120, 120);
  --spanish: rgb(190, 190, 190);
  --sonic-silver: rgba(120, 120, 120, 0.096);
  --gold-primary: #89715b;
  --Azul: rgb(0 102 255);
  --dylans-Blue: rgb(23, 186, 255);
  --denim-blue: rgb(0 204 255);
  --cultured: rgb(237, 237, 237);
  --cultured-offwhite: rgba(239, 233, 219, 1);
  --cultured-light: rgba(252, 243, 234, 1);
  --light: rgb(225, 223, 221);
  --sprint-yellow: rgba(219, 151, 3, 1);
  --yellow-primary: rgba(236, 126, 67, 1);
  --kelly-green: hsl(90, 92%, 43%);
  --pink-primary: rgb(255 0 102);
  --orange: rgb(255, 84, 46);
  --orange-primary: rgba(218, 41, 41, 1);
}

/* RESET*/

body {
  color: var(--eerie-black) !important;
  font-family: 'Clash Display', sans-serif;
  font-weight: 400;
  background-color: var(--light) !important;
}

::-webkit-scrollbar-track {
  background-color: var(--light);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--eerie-black);
  border-radius: 15px;
}


/* NAVBAR HEADER */
.modal-header .btnclose {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.slide-in-right {
  animation: slide-in-right 0.8s forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.modal-content {
  font-size: 1rem;
  background-color: var(--eerie-black);
}

.text-modal {
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  align-items: center;
  color: var(--light);
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.navl-list {
  list-style: none;
  opacity: none !important;
}

.text-modal:hover {
  color: var(--light);
  opacity: 0.5;
}

.navl-list {
  padding: 0;
}

.animate__fadeInDown {
  animation-duration: 2s;
}

.middle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
}

.text {
  color: var(--light);
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 4px;
}

.progress-bar {
  position: relative;
  top: 40px;
  left: 0;
  width: 0%;
  height: 5px;
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  transition: width .1s linear;
  z-index: 99;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
  z-index: 1000;
  margin: 0 ! important;
}

.navbar.scrolled {
  background-color: var(--eerie-black);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav-link.color {
  color: var(--light) !important;
}

.nav-link.color:hover {
  color: var(--light) !important;
  opacity: 0.8;
}

.navbar-nav {
  padding-right: 6rem;
}

.nav-link {
  color: var(--eerie-black) !important;
  font-size: 0.95rem;
  text-transform: capitalize;
}

.nav-link:hover {
  color: var(--eerie-black) !important;
  opacity: 0.5;
}

.underline-hover {
  position: relative;
  color: var(--eerie-black);
  text-decoration: none;
}

.nav-link.color:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--light);
  opacity: 0.8;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.nav-link.color:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.underline-hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--eerie-black);
  opacity: 0.5;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-hover:hover::before {
  transform: scaleX(1);
}

#git:hover {
  color: var(--eerie-black) !important;
  opacity: 0.5;
}

#lik:hover {
  color: var(--eerie-black) !important;
  opacity: 0.5;
}

.namehearder {
  color: var(--eerie-black);
}

/* NAVBAR HEADER */

/* HOME */
.vertical-center {
  min-height: 100%;
  min-height: 90vh;
  display: flex;
  font-weight: 600;
}

.nameintro {
  line-height: .8em;
  font-size: clamp(6rem, 15vh, 16rem);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--eerie-black);
}

.descintro {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 400;
}

.introdesc{
  font-size: clamp(16px, 1vw, 21px);
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.titleintro {
  padding-top: 0rem;
}

.intro-name {
  padding-top: 6.5rem;
}

.teste::after {
  position: relative;
  border: 2px solid var(--eerie-black);
  top: 20px;
  left: 20px;
  z-index: -1;
}

.teste::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.prog {
  color: var(--eerie-black);
  opacity: 0.5;
}

.homescroll a {
  position: relative;
  top: 0rem;
  text-decoration: none;
  color: var(--eerie-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrolltetxt {
  font-weight: 400;
  text-transform: uppercase;
}

.scroll-icon {
  font-size: 3rem;
  color: var(--eerie-black);
  align-items: center;
}

.scroll-icon {
  animation: scroll-animation 2s ease-in-out infinite;
}

.homescroll span {
  position: relative;
  bottom: 9.8rem;
}

@keyframes scroll-animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.btn-outline-dark {
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-border-color: var(--eerie-black) !important;
  --bs-btn-active-color: var(--eerie-black) !important;
  --bs-btn-hover-border-color: var(--light) !important;
}

.btn-outline-dark:hover {
  --bs-btn-hover-bg: var(--eerie-black) !important;
}

/* HOME */


/* ABOUT*/
.about {
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-bg {
  background-color: var(--sonic-silver);
}

.textabout{
  font-size: clamp(16px, 1vw, 21px);
  line-height: 1.5;
  letter-spacing: 0.04rem;
  text-align: justify;
}

.titleabout {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 600;
}

.col-lg-4 span:first-child {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.img-fluid {
  position: relative;
}

/* ABOUT*/


/* TECH*/
.titletech {
  padding-top: 7rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 600;
}

.subtitletech{
  font-size: clamp(16px, 1vw, 21px);
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.tech-bg {
  padding-bottom: 3rem;
}

.cardtech {
  box-shadow: none !important;
  background-color: var(--light) !important;
  border-color: var(--spanish) !important;
  border-radius: 5px !important;
}
/* TECH*/


/* XP */

#resume {
	padding-top: 2.5rem;
}

#resume .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}

#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: var(--onyx);
  opacity: 0.2;
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#resume .timeline-ico {
	height: 3.5rem;
	width: 3.5rem;
	line-height: 4.8rem;
	background: var(--davys-gray);
	border-radius: 50%;
	text-align: center;
	position: absolute;
	left: 35.5%;
	top: .9rem;
	margin-left: -2.4rem;
}
#resume .timeline-ico i {
	position: relative;
	left: .05rem;
	top: -0.5rem;
  color: var(--light);
}

#resume .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
	margin-bottom: 0;
  font-size: 1.5rem;
}
#resume .timeline-header p {
	font-size: 1rem;
	color: var(--onyx);
  opacity: 0.6;
}
#resume .timeline-content {
	margin-left: 35%;
  padding-right: 5%;
	padding-left: 60px;
  font-size: clamp(16px, 1vw, 21px);
  line-height: 1.5;
  letter-spacing: 0.04rem;
  text-align: justify;
}
#resume .timeline-content h4 {
	position: relative;
	padding-bottom: 1.5rem;
  font-size: 1.2rem;
}
#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background:var(--onyx);
  opacity: 0.2;
	position: absolute;
	left: 0;
	bottom: 0;
}
.titlexp {
  padding-top: 2rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 600;
}
.titlexphead{
  padding-top: 3rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 600;
}
#experience-btn,
#education-btn {
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-border-color: var(--light) !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: var(--eerie-black) !important;
  --bs-btn-active-bg: var(--light) !important;
  --bs-btn-active-border-color: var(--eerie-black) !important;
}

#experience-btn,
#education-btn {
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-border-color: var(--eerie-black) !important;
}

#experience-btn,
#education-btn:hover {
  --bs-btn-hover-bg: var(--eerie-black) !important;
}

.btn-outline-light {
  --bs-btn-hover-color: rgb(255 255 255) !important;
}

.edutitle,
.xptitle {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 400;
}

.bi-mortarboard {
  top: 2.2rem;
  right: .5rem;
  font-size: 2rem;
  color: var(--eerie-black);
  position: relative;
}

.bi-patch-check {
  top: 2.2rem;
  right: .5rem;
  font-size: 2rem;
  color: var(--eerie-black);
  position: relative;
}
.Certificados{
  text-decoration: none;
  cursor: pointer;
  color: var(--eerie-black);
}

/* XP */


/* PROJETOS */
.card {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -0.5rem 0.5rem 0.5rem rgb(0 0 0 / 50%);
  background-color: var(--light) !important;
  border-color: var(--spanish) !important;
  cursor: pointer;
}

.cardcontainer:hover> :not(:hover) {
  opacity: 0.4;
  transition: 0.5s ease-in-out;
}

.card-title {
  color: var(--eerie-black);
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Clash Display', sans-serif !important;
  letter-spacing: 0.2rem;
}

.card-text {
  font-size: clamp(16px, 1vw, 21px);
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.projdesc {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 2rem;
  font-weight: 600;
}

.repo-btn {
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-border-color: var(--davys-gray) !important;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: var(--davys-gray) !important;
}

.deploy-btn {
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-border-color: var(--davys-gray) !important;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: var(--davys-gray) !important;
}

.Projects-bg {
  background-color: var(--sonic-silver);
  padding-bottom: 5rem;
}

.iconscardproj img {
  color: var(--eerie-black) !important;
  font-size: 0.8rem;
  margin: 0.1rem;
}
/* PROJETOS */

/* CONTATO FOOTER */
.contato {
  margin-top: 5rem;
  padding: 1.1rem;
}
.desctitlecontato{
  font-size: clamp(16px, 1vw, 21px);
  line-height: 1.5;
  letter-spacing: 0.02rem;
  text-align: justify;
}
.page-footer img {
  display: block;
  width: 200px;
  height: auto;
  max-width: 100%;
  position: relative;
  float: right;
}

.contact-inner-text {
  position: relative;
  padding: 25px 30px;
  border: 1px solid var(--eerie-black);
  margin-bottom: 20px;
}

#carouseltag .slider {
  display: flex;
  justify-content: center;
}

#carouseltag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control{
  BACKGROUND-COLOR: var(--sonic-silver) !important;
  color: var(--eerie-black) !important;
  border-color: var(--eerie-black) !important;
  opacity: 0.4;
}
/* CONTATO FOOTER */


/* SOCIAL MEDIA */
.social-media {
  position: fixed;
  top: 70%;
}

.social-media img {
  font-size: 1rem;
  color: var(--eerie-black);
}

.social-media::after {
  content: "";
  display: block;
  width: 1px;
  height: 180px;
  margin: 20px auto 0;
  background: var(--eerie-black);
  opacity: 0.5;
}

/* SOCIAL MEDIA */


/* Media Queries */

@media screen and (max-width: 320px) {

  /* Navbar header */
  .social-media {
    display: none;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: -23%;
    transform: translate(50%, -50%);
  }

  .text {
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
  }

  .navbar-toggler {
    margin-top: -1.2rem !important;
    margin-right: 1rem !important;
    color: var(--cultured);
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
  }

  /* Navbar header */

  /* Home */
  .btn-outline-dark {
    width: 170px !important;
  }

  .nameintro {
    text-transform: uppercase;
    line-height: 0.8em;
    font-size: 3rem;
    letter-spacing: -2px;
  }

  .titleintro {
    padding-top: 2rem;
  }

  .intro-name {
    padding-top: 0rem;
    padding: 0rem;
  }

  .introdesc {
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }

  .prog {
    font-size: 1.5rem;
  }

  .descintro {
    font-size: clamp(20px, 6vw, 23px);
    font-weight: 600;
  }

  .homescroll span {
    position: relative;
    bottom: 2.5rem;
  }

  /* Home */

  /* About */
  .about {
    padding: 0.85rem;
  }

  .titleabout {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;
  }

  .about {
    padding-top: 4rem;
  }

  .textabout {
    padding-top: 1rem;
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }

  /* About */

  /* Tech */
  .tech {
    padding: 0.85rem;
  }

  .curso-desc {
    margin-bottom: 4rem;
  }

  .cardtech{
    margin: 0 auto;
    width: 90%;
  }

  .titletech {
    padding-top: 4rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;
    padding-bottom: 0rem;
  }

  .btns {
    padding: 0.8rem;
  }

  /* Tech */

  /* Xp */
  .titlexphead{
    padding-left: 0.9rem;
  }
  .titlexp {
    padding-left: 0.5rem;
    padding-top: 3rem;
    margin-bottom: 2rem !important;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .btn-group {
    padding-left: 0.7rem;
    width: 95%;
  }

	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 2.8rem;
		width: 2.8rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -2.5rem;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 3.5rem;
	}
  #resume .timeline-header h3 {
    font-size: 1.3rem;
  }
  #resume .timeline-header p {
    font-size: 0.9rem;
    margin-bottom: 0rem;
  }
  #resume .timeline-content h4 {
    margin-top: 2rem;
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
  }
  #resume .timeline-content h4::after {
    top: -1.2rem;
  }
  #resume .timeline-content {
		margin: 0;
	}
  #resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
  #resume .timeline-ico {
		left: 2.5rem;
	}
  #resume .timeline-ico i {
	  font-size:1.5rem;
    left: -0.05rem;
    top: -0.25rem;
	}
  /* Xp */


  /* Projetos */
  .projdesc {
    padding-top: 3.2rem;
    padding-bottom: 0.35rem;
    font-weight: 600;
    font-size: 1.8rem;
  }

  /* Projetos */



  .contato {
    padding: 0.9rem;
  }

  .titlecontato {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .contact-inner-text {
    padding: 20px 15px;
  }

}

@media screen and (min-width: 321px) and (max-width: 375px) {

  /* Navbar header */
  .social-media {
    display: none;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: -23%;
    transform: translate(50%, -50%);
  }

  .text {
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
  }

  .navbar-toggler {
    margin-top: -1.2rem !important;
    margin-right: 1rem !important;
    color: var(--cultured);
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
  }

  /* Navbar header */

  /* Home */
  .btn-outline-dark {
    width: 170px !important;
  }

  .nameintro {
    text-transform: uppercase;
    line-height: 0.8em;
    font-size: 3.3rem;
    letter-spacing: -2px;
  }

  .titleintro {
    padding-top: 3rem;
  }

  .intro-name {
    padding-top: 0rem;
    padding: 0rem;
  }

  .introdesc {
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }

  .prog {
    font-size: 1.5rem;
  }

  .descintro {
    font-size: clamp(20px, 6vw, 23px);
    font-weight: 600;
  }

  .homescroll span {
    position: relative;
    bottom: 2.5rem;
  }

  /* Home */

  /* About */
  .about {
    padding: 0.85rem;
  }

  .titleabout {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }

  .about {
    padding-top: 4rem;
  }

  .textabout {
    padding-top: 1rem;
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }

  /* About */

  /* Tech */
  .tech {
    padding: 0.85rem;
  }

  .curso-desc {
    margin-bottom: 4rem;
  }

  .cardtech{
    margin: 0 auto;
    width: 95%;
  }

  .titletech {
    padding-top: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    padding-bottom: 0rem;
  }

  .btns {
    padding: 0.8rem;
  }

  /* Tech */

  /* Xp */
  .titlexphead{
    padding-left: 0.9rem;
  }
  .titlexp {
    padding-left: 0.5rem;
    padding-top: 3rem;
    margin-bottom: 2rem !important;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .btn-group {
    padding-left: 0.7rem;
    width: 95%;
  }

	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 2.8rem;
		width: 2.8rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -2.5rem;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 3.5rem;
	}
  #resume .timeline-header h3 {
    font-size: 1.3rem;
  }
  #resume .timeline-header p {
    font-size: 0.9rem;
    margin-bottom: 0rem;

  }
  #resume .timeline-content h4 {
    margin-top: 2rem;
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
  }
  #resume .timeline-content h4::after {
    top: -1.2rem;
  }
  #resume .timeline-content {
		margin: 0;
	}
  #resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
  #resume .timeline-ico {
		left: 2.5rem;
	}
  #resume .timeline-ico i {
	  font-size:1.5rem;
    left: -0.05rem;
    top: -0.25rem;
	}
  /* Xp */

  /* Projetos */
  .projdesc {
    padding-top: 3.2rem;
    padding-bottom: 0.35rem;
    font-weight: 600;
  }

  /* Projetos */

  .contato {
    padding: 0.9rem;
  }

  .titlecontato {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 2rem;
    font-weight: 600;
  }

}


@media screen and (min-width: 376px) and (max-width: 430px) {

  /* Navbar header */
  .social-media {
    display: none;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: -22%;
    transform: translate(50%, -50%);
  }

  .text {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
  }

  .navbar-toggler {
    margin-top: -1.2rem !important;
    margin-right: 1rem !important;
    color: var(--cultured);
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
  }

  /* Navbar header */

  /* Home */
  .btn-outline-dark {
    width: 170px !important;
  }

  .titleintro {
    padding-top: 3rem;
  }

  .nameintro {
    text-transform: uppercase;
    line-height: 0.8em;
    font-size: 3.5rem;
    letter-spacing: -2px;
  }

  .intro-name {
    padding-top: 0rem;
    padding: 0rem;
  }

  .introdesc {
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }

  .prog {
    font-size: 1.5rem;
  }

  .descintro {
    font-size: clamp(20px, 6vw, 23px);
    font-weight: 600;
  }

  .homescroll span {
    position: relative;
    bottom: 2.5rem;
  }

  /* Home */

  /* About */
  .picborder::after {
    display: none;
  }

  .about {
    padding: 0.85rem;
  }

  .titleabout {
    margin-top: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }

  .about {
    padding-top: 4rem;
  }

  .textabout {
    padding-top: 1rem;
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }

  /* About */

  /* Tech */
  .tech {
    padding: 0.85rem;
  }

  .curso-desc {
    margin-bottom: 4rem;
  }

  .cardtech{
    margin: 0 auto;
    width: 90%;
  }

  .titletech {
    padding-top: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    padding-bottom: 0.4rem;
  }

  /* Tech */

  /* Xp */
  .titlexphead{
    padding-left: 0.9rem;
  }
  .titlexp {
    padding-left: 0.5rem;
    padding-top: 3rem;
    margin-bottom: 2rem !important;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .btn-group {
    padding-left: 0.7rem;
    width: 95%;
  }

	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 2.8rem;
		width: 2.8rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -2.5rem;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 3.5rem;
	}
  #resume .timeline-header h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  #resume .timeline-header p {
    font-size: 1rem;
    margin-bottom: 0rem;

  }
  #resume .timeline-content h4 {
    margin-top: 2rem;
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
  }
  #resume .timeline-content h4::after {
    top: -1.2rem;
  }
  #resume .timeline-content {
		margin: 0;
	}
  #resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
  #resume .timeline-ico {
		left: 2.9rem;
	}
  #resume .timeline-ico i {
	  font-size:1.5rem;
    left: -0.05rem;
    top: -0.25rem;
	}
  /* Xp */

  /* Projetos */
  .projdesc {
    padding-top: 3.2rem;
    padding-bottom: 0.8rem;
    font-weight: 600;
  }

  /* Projetos */


  .contato {
    padding: 0.9rem;
  }

  .titlecontato {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 2rem;
    font-weight: 600;
  }
}



