
/* RESET*/
*:root {
  --eerie-black: rgb(13, 13, 13);
  --black: rgb(18, 18, 18);
  --onyx: rgba(20, 20, 20, 1);

  --davys-gray: rgb(84, 84, 84);
  --spanish-gray: rgb(120, 120, 120);
  --sonic-silver: rgba(120, 120, 120, 0.096);

  --gold-primary:rgb(137 113 91);

  --Azul: rgb(0 102 255);
  --dylans-Blue: rgb(23, 186, 255);
  --denim-blue:  rgb(0 204 255);

  --cultured: rgb(237, 237, 237);
  --cultured-offwhite: rgba(239, 233, 219,1);

  
  --sprint-yellow: rgba(219, 151, 3, 1);
  --yellow-primary: rgba(236, 126, 67, 1);
  
  --pink-primary: rgb(255 0 102);

  --orange: rgb(255, 84, 46);
  --orange-primary: rgba(218, 41, 41, 1);
}

body {
  color: var(--cultured-offwhite) !important;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  background-color: var(--black) !important;
}
::-webkit-scrollbar-track {
  background-color: var(--black);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--cultured);
  border-radius: 15px;
}
/* RESET*/



/* Navbar header */
.nav-link {
  color: var(--dylans-Blue) !important;
  font-size: 0.95rem;
  text-transform: capitalize;
}  
.nav-link:hover {
  color: var(--cultured)!important;
}
#git:hover {
  color: var(--cultured)!important;
}
#lik:hover {
  color: var(--cultured)!important;
}
.btn-white {
  background-color: var(--cultured);
}
.namehearder{
  color: var(--pink-primary);
}
/* Navbar header */

/* Home */
.btn-outline-dark{
  --bs-btn-color: var(--dylans-Blue) !important;
  --bs-btn-color: var(--dylans-Blue)!important;
  --bs-btn-border-color:var(--dylans-Blue)!important;  
}
.social-media{
  position: fixed;
  top: 70%;
}
.social-media i{
  font-size: 1rem;
  color: var(--denim-blue); 
}
.social-media::after {
  content: "";
  display: block;
  width: 1px;
  height: 180px;
  margin: 20px auto 0;
  background: var(--davys-gray);
  opacity: 0.5;
}
.vertical-center {
  min-height: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.nameintro{
  font-size: 3rem;
  font-weight: 600;
  color: var(--gold-primary);
}
.intro-name{
  padding-top: 4rem;
}
.prog{
  color: var(--orange-primary);
}
.homescroll a {
  text-decoration: none;
  color: var(--cultured);
  opacity: 0.5;
  padding-bottom: 0;
  padding-top: 0;
}
.homescroll {
  animation: scroll-animation 2s ease-in-out infinite;
}

@keyframes scroll-animation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}
/* Home */



/* About */
.about {
  margin: 0 auto;
  padding-top: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-bg{
  background-color: var(--sonic-silver);
}
.titleabout{
  color: var(--davys-gray);
  font-family: 'Bebas Neue',sans-serif !important;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}
.picborder::after {
  content: "";
  position: relative;
  bottom: 28rem;
  left: 4rem;
  border-top: 9px solid var(--gold-primary);
  border-left: 9px solid var(--gold-primary);
  height: 18rem;
  width: 18rem;
}
.picborder::before {
  content: "";
  position: absolute;
  top: 80rem;
  left: 27rem;
  border-top: 9px solid var(--gold-primary);
  border-left: 9px solid var(--gold-primary);
  height: 18rem;
  width: 18rem;
  rotate: 180deg;
}
/* About */

/* Tech */
.titletech{
  color: var(--davys-gray);
  padding-top: 3rem;
  font-family: 'Bebas Neue',sans-serif !important;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}
.tech-bg{
  padding-bottom: 3rem;
}
.cardtech{
  box-shadow: none !important;
  background-color: var(--sonic-silver)!important;
  border-color: var(--gold-primary);
  border-radius: 5px !important;
}



.float-text {
  position: absolute;
  right: 20px;
  top: 2rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.aboutopacleft{
  position: absolute;
  right: 20px;
  top: 50rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}

.techleft{
  position: absolute;
  right: 20px;
  top: 108rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.xpopacleft{
  position: absolute;
  right: 20px;
  top: 158rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.proleft{
  position: absolute;
  right: 20px;
  top: 205rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}







.iconscardproj ion-icon{
  color: var(--denim-blue) !important;
}














.projdesc{
  color: var(--davys-gray);
  padding-top: 3rem;
  font-family: 'Bebas Neue',sans-serif !important;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}




.curso-desc {
  display: flex;
  margin-bottom: 8rem;
}
.escola {
  width: 30%;
  border-right: 1.5px dashed var(--davys-gray);
}
.curso {
  width: 50%;
  padding-left: 4rem;
}
.titlexp{
  color: var(--davys-gray);
  padding-top: 3rem;
  font-family: 'Bebas Neue',sans-serif !important;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

#experience-btn, #education-btn {
  --bs-btn-color: var(--cultured-offwhite)!important;
  --bs-btn-border-color:var(--davys-gray)!important;  
  --bs-btn-hover-bg: var(--gold-primary)!important;
  --bs-btn-hover-border-color: var(--davys-gray)!important;

}

.edutitle, .xptitle{
  color: var(--denim-blue);
}

/* PROJETOS */
.card{
  background-color: var(--onyx);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -0.5rem 0.5rem 0.5rem rgb(0 0 0 / 50%);
  border-color: var(--gold-primary)
}
.card-title{
  color: var(--orange);
  font-size: 1.5rem;
  font-family: 'Bebas Neue',sans-serif !important;
  letter-spacing: 0.2rem;
}

.repo-btn{
  --bs-btn-color: var(--cultured-offwhite)!important;
  --bs-btn-border-color:var(--davys-gray)!important;  
  --bs-btn-hover-bg: var(--gold-primary)!important;
  --bs-btn-hover-border-color: var(--davys-gray)!important;
}

.deploy-btn{
  --bs-btn-color: var(--cultured-offwhite)!important;
  --bs-btn-border-color:var(--davys-gray)!important;  
  --bs-btn-hover-bg: var(--gold-primary)!important;
  --bs-btn-hover-border-color: var(--davys-gray)!important;
}
.Projects-bg{
  background-color: var(--sonic-silver);
}
/* PROJETOS */



/* MODAL */
.fade.show{
  animation: showFromLeft 0.5s ease-in-out;

  width: 100%;
  height: 100%;
}
@keyframes showFromLeft{
  from{
      transform: translateX(-100%);
  }
  to{
      transform: translateX(0);
  }
}
/* MODAL */






@media screen and (max-width: 320px) {

  /* Navbar header */
  .float-text{
    display:  none;
  }
  .social-media{
    display: none;
  }
  /* Navbar header */

  /* Home */
  .btn-outline-dark{
    width: 170px!important;
  }
  .nameintro{
    font-size: 1.85rem;
    font-weight: 600;
    letter-spacing: -0.16rem;

  }
  .intro-name{
    padding-top: 0rem;
    padding: 0rem;
  }
  .prog{
    font-size: 1.2rem;
  }
  .descintro{
    font-size: 1.25rem;
  }
  /* Home */
  
  /* About */
  .about {
    margin: 0 auto;
    padding-top: 0rem;
  }
  .picborder{
    padding: 0.8rem;
    flex-wrap: nowrap!important;
  }
  .titleabout{
    padding-top: 2rem;
  }
  .picborder::after {
    display: none;
  }
  .picborder::before {
    top: 57.5rem;
    left: 5.5rem;
    height: 14rem;
    width: 14rem;
  }
  /* About */

    /* Tech */
  .tech-bg{
    padding-bottom: 0rem;
  }


}


@media screen and (min-width: 321px) and (max-width: 375px){

    /* Navbar header */
    .float-text{
      display:  none;
    }
    .social-media{
      display: none;
    }
    /* Navbar header */
  
    /* Home */
    .btn-outline-dark{
      width: 170px!important;
    }
    .nameintro{
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: -0.12rem;
    }
    .intro-name{
      padding-top: 0rem;
      padding: 0rem;
    }
    .prog{
      font-size: 1.2rem;
    }
    .descintro{
      font-size: 1.25rem;
    }
    /* Home */
    
    /* About */
    .about {
      margin: 0 auto;
      padding-top: 0rem;
    }
    .picborder{
      padding: 0.8rem;
      flex-wrap: nowrap!important;
    }
    .titleabout{
      padding-top: 2rem;
    }
    .picborder::after {
      display: none;
    }
    .picborder::before {
      top: 66rem;
      left: 8rem;
      height: 14rem;
      width: 14rem;
    }
    /* About */
  

    /* Tech */
    .tech-bg{
      padding-bottom: 0rem;
    }
}