/* RESET*/
*:root {
  --eerie-black: rgb(13, 13, 13);
  --black: rgb(18, 18, 18);
  --onyx: rgba(37, 37, 37, 1);
  --davys-gray: rgb(84, 84, 84);
  --spanish-gray: rgb(120, 120, 120);
  --sonic-silver: rgba(120, 120, 120, 0.096);
  --gold-primary:rgb(137 113 91);
  --Azul: rgb(0 102 255);
  --dylans-Blue: rgb(23, 186, 255);
  --denim-blue:  rgb(0 204 255);
  --cultured: rgb(237, 237, 237);
  --cultured-offwhite: rgba(239, 233, 219,1);
  --cultured-light: rgba(252, 243, 234,1);
  --light: rgb(225, 223, 221);
  --sprint-yellow: rgba(219, 151, 3, 1);
  --yellow-primary: rgba(236, 126, 67, 1);
  --kelly-green: hsl(90, 92%, 43%);
  --pink-primary: rgb(255 0 102);
  --orange: rgb(255, 84, 46);
  --orange-primary: rgba(218, 41, 41, 1);
}

body {
  color: var(--eerie-black) !important;
  font-family: 'Clash Display', sans-serif;                                          
  font-weight: 400;
  background-color: var(--light) !important;

}

::-webkit-scrollbar-track {
  background-color: var(--black);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--cultured);
  border-radius: 15px;
}
/* RESET*/

/* Navbar header */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
}

.progress-bar {
  position: relative;
  bottom: 35px;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--yellow-primary);
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
  z-index: 1000;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color:transparent;
}
.nav-link {
  color: var(--eerie-black) !important;
  font-size: 0.95rem;
  text-transform: capitalize;
}  
.btn-white {
  background-color: var(--eerie-black);
}
.nav-link:hover {
  color: var(--eerie-black)!important;
  opacity: 0.5;
}
#git:hover {
  color: var(--light)!important;
  opacity: 0.5;
}
#lik:hover {
  color: var(--light)!important;
  opacity: 0.5;
}
.btn-white {
  background-color: var(--light);
}
.namehearder{
  color: var(--eerie-black);
}
/* Navbar header */

/* Home */
.vertical-center {
  min-height: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.nameintro{
  font-size: 3rem;
  font-weight: 600;
  color: var(--eerie-black);
}
.intro-name{
  padding-top: 4rem;
}
.prog{
  color: var(--eerie-black);
  opacity: 0.5;
}

.homescroll a {
  position: relative;
  top:0rem;
  text-decoration: none;
  color: var(--eerie-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrolltetxt{
  font-weight: 400;
  text-transform: uppercase;
}
.scroll-icon{
  font-size: 3rem;
  color: var(--eerie-black);
  align-items: center;
}
.scroll-icon{
  animation: scroll-animation 2s ease-in-out infinite;
}

@keyframes scroll-animation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}
.btn-outline-dark{
  --bs-btn-color: var(--eerie-black) !important;
  --bs-btn-color: var(--eerie-black)!important;
  --bs-btn-border-color:var(--eerie-black)!important;  
}
/* Home */


/* About */
.about {
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-bg{
  background-color: var(--sonic-silver);
}
.titleabout{
  color: var(--davys-gray);
  font-family: 'Clash Display',sans-serif !important;
  font-weight: 600;
  font-size: 2.5rem;
}
/* About */


/* Tech */
.titletech{
  color: var(--davys-gray);
  padding-top: 3rem;
  font-family: 'Clash Display',sans-serif !important;
  font-weight: 600;
  font-size: 2.5rem;
}
.tech-bg{
  padding-bottom: 3rem;
}
.cardtech{
  box-shadow: none !important;
  background-color: var(--sonic-silver)!important;
  border-color: var(--davys-gray);
  border-radius: 5px !important;
}
/* Tech */


/* Xp */
.curso-desc {
  display: flex;
  margin-bottom: 8rem;
}
.escola {
  width: 30%;
  border-right: 1.5px dashed var(--davys-gray);
}
.curso {
  width: 50%;
  padding-left: 4rem;
}
.titlexp{
  color: var(--davys-gray);
  padding-top: 3rem;
  font-family: 'Clash Display',sans-serif !important;
  font-weight: 600;
  font-size: 2.5rem;
}
#experience-btn, #education-btn {
  --bs-btn-color: var(--cultured-offwhite)!important;
  --bs-btn-border-color:var(--davys-gray)!important;  
  --bs-btn-hover-bg: var(--gold-primary)!important;
  --bs-btn-hover-border-color: var(--davys-gray)!important;
}
.edutitle, .xptitle{
  color: var(--denim-blue);
}
/* Xp */


/* PROJETOS */
.card{
  background-color: var(--onyx);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -0.5rem 0.5rem 0.5rem rgb(0 0 0 / 50%);
  border-color: var(--gold-primary)
}
.card-title{
  color: var(--orange);
  font-size: 1.5rem;
  font-family: 'Clash Display',sans-serif!important;
  letter-spacing: 0.2rem;
}
.projdesc{
  color: var(--davys-gray);
  padding-top: 3rem;
  font-family: 'Clash Display',sans-serif!important;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}
.repo-btn{
  --bs-btn-color: var(--cultured-offwhite)!important;
  --bs-btn-border-color:var(--davys-gray)!important;  
  --bs-btn-hover-bg: var(--gold-primary)!important;
  --bs-btn-hover-border-color: var(--davys-gray)!important;
}
.deploy-btn{
  --bs-btn-color: var(--cultured-offwhite)!important;
  --bs-btn-border-color:var(--davys-gray)!important;  
  --bs-btn-hover-bg: var(--gold-primary)!important;
  --bs-btn-hover-border-color: var(--davys-gray)!important;
}
.Projects-bg{
  background-color: var(--sonic-silver);
}
.iconscardproj ion-icon{
  color: var(--denim-blue) !important;
}

/* PROJETOS */



/* MODAL */
.fade.show{
  animation: showFromLeft 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
@keyframes showFromLeft{
  from{
      transform: translateX(-100%);
  }
  to{
      transform: translateX(0);
  }
}
/* MODAL */


/* Social Media */
.social-media{
  position: fixed;
  top: 70%;
}
.social-media i{
  font-size: 1rem;
  color: var(--denim-blue); 
}
.social-media::after {
  content: "";
  display: block;
  width: 1px;
  height: 180px;
  margin: 20px auto 0;
  background: var(--davys-gray);
  opacity: 0.5;
}
/* Social Media */

/* Text-Float */
.float-text {
  position: absolute;
  right: 20px;
  top: 2rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.aboutopacleft{
  position: absolute;
  right: 20px;
  top: 50rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.techleft{
  position: absolute;
  right: 20px;
  top: 108rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.xpopacleft{
  position: absolute;
  right: 20px;
  top: 158rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
.proleft{
  position: absolute;
  right: 20px;
  top: 205rem;
  display: flex;
  padding: 10% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: .2em;
  font-size: 100px;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px var(--davys-gray);
  opacity: 1.5;
  opacity: 0.2;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}
/* Text-Float */



/* Media Queries */

@media screen and (max-width: 320px) {
  /* Navbar header */
  .float-text{
    display:  none;
  }
  .social-media{
    display: none;
  }
  /* Navbar header */

  /* Home */
  .btn-outline-dark{
    width: 170px!important;
  }
  .nameintro{
    font-size: 1.85rem;
    font-weight: 600;
  }
  .intro-name{
    padding-top: 0rem;
    padding: 0rem;
  }
  .introdesc{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  } 
  .prog{
    font-size: 1.5rem;
  }
  .descintro{
    font-size: clamp(20px, 6vw, 23px);
    font-weight: 600;
  }
  /* Home */
  
  /* About */
  .picborder::after {
    display: none;
  }
  .about{
    padding: 0.85rem;
  }
  .titleabout{
    margin-top: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .about {
    padding-top: 4rem;
  }
  .textabout{
    padding-top: 1rem;
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }
  /* About */

  /* Tech */
  .tech{
    padding: 0.85rem;
  }
  .curso-desc {
    margin-bottom: 4rem;
  }
  .titletech{
    padding-top: 7rem;
    margin-bottom: 1.5rem!important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  /* Tech */

  /* Xp */
  .titlexp{
    padding: 1rem;
    padding-top: 7rem;
    margin-bottom: 1.5rem!important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .curso{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .escola{
    font-size: clamp(16px, 2vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .curso-desc{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .edutitle{
    padding: 1rem;
  }
  .escola{
    width: 100%;
  }
  .btn-group{
    padding-left: 1rem;
    width: 95%;
  }
  /* Xp */

}


@media screen and (min-width: 321px) and (max-width: 375px){

  /* Navbar header */
  .float-text{
    display:  none;
  }
  .social-media{
    display: none;
  }
  /* Navbar header */

  /* Home */
  .btn-outline-dark{
    width: 170px!important;
  }
  .nameintro{
    font-size: 1.85rem;
    font-weight: 600;
  }
  .intro-name{
    padding-top: 0rem;
    padding: 0rem;
  }
  .introdesc{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  } 
  .prog{
    font-size: 1.5rem;
  }
  .descintro{
    font-size: clamp(20px, 6vw, 23px);
    font-weight: 600;
  }
  /* Home */
  
  /* About */
  .picborder::after {
    display: none;
  }
  .about{
    padding: 0.85rem;
  }
  .titleabout{
    margin-top: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .about {
    padding-top: 4rem;
  }
  .textabout{
    padding-top: 1rem;
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }
  /* About */

  /* Tech */
  .tech{
    padding: 0.85rem;
  }
  .curso-desc {
    margin-bottom: 4rem;
  }
  .titletech{
    padding-top: 7rem;
    margin-bottom: 1.5rem!important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  /* Tech */

  /* Xp */
  .titlexp{
    padding: 1rem;
    padding-top: 7rem;
    margin-bottom: 1.5rem!important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .curso{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .escola{
    font-size: clamp(16px, 2vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .curso-desc{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .edutitle{
    padding: 1rem;
  }
  .escola{
    width: 100%;
  }
  .btn-group{
    padding-left: 1rem;
    width: 95%;
  }
  /* Xp */

}


@media screen and (min-width: 376px) and (max-width: 430px){  
  
  /* Navbar header */
  .float-text{
    display:  none;
  }
  .social-media{
    display: none;
  }
  /* Navbar header */

  /* Home */
  .btn-outline-dark{
    width: 170px!important;
  }
  .nameintro{
    font-size: 1.85rem;
    font-weight: 600;
  }
  .intro-name{
    padding-top: 0rem;
    padding: 0rem;
  }
  .introdesc{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  } 
  .prog{
    font-size: 1.5rem;
  }
  .descintro{
    font-size: clamp(20px, 6vw, 23px);
    font-weight: 600;
  }
  /* Home */
  
  /* About */
  .picborder::after {
    display: none;
  }
  .about{
    padding: 0.85rem;
  }
  .titleabout{
    margin-top: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .about {
    padding-top: 4rem;
  }
  .textabout{
    padding-top: 1rem;
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
  }
  /* About */

  /* Tech */
  .tech{
    padding: 0.85rem;
  }
  .curso-desc {
    margin-bottom: 4rem;
  }
  .titletech{
    padding-top: 7rem;    
    margin-bottom: 1.5rem!important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  /* Tech */

  /* Xp */
  .titlexp{
    padding: 1rem;
    padding-top: 7rem;
    margin-bottom: 1.5rem!important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .curso{
    font-size: clamp(16px, 1vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .escola{
    font-size: clamp(16px, 2vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .curso-desc{
    font-size: clamp(16px, 2vw, 21px);
    line-height: 1.5;
    width: 100%;
    padding-left: 1rem;
  }
  .edutitle{
    padding: 1rem;
  }
  .escola{
    width: 100%;
  }
  .btn-group{
    padding-left: 1rem;
    width: 95%;
  }
  /* Xp */

}
